[Unit]
Description=Ambari services HDFS, YARN and Hive
Requires=ambari-server.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/local/bin/manage_amb_cluster.sh start --noblock"
ExecStop=/bin/bash -c "/usr/local/bin/manage_amb_cluster.sh stop --noblock"
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
