<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            factory-class="org.knime.bigdata.hadoop.filehandling.node.HdfsConnectorNodeFactory" />
   </extension>
   <extension
         point="org.knime.filehandling.FSTestInitializerProvider">
      <FSTestInitializerProvider
            ProviderClass="org.knime.bigdata.hadoop.filehandling.testing.HdfsTestInitializerProvider">
      </FSTestInitializerProvider>
      <FSTestInitializerProvider
            ProviderClass="org.knime.bigdata.hadoop.filesystem.testing.LocalHdfsTestInitializerProvider">
      </FSTestInitializerProvider>
   </extension>
</plugin>
