<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.python3.types.PythonPortObjectConverter">
      <Module
            modulePath="src/main/python/"
            moduleName="knime.ports.databricks">
          <KnimeToPythonPortObjectConverter
                JavaConverterClass="org.knime.bigdata.databricks.python.port.DatabricksWorkspacePythonPortObjectConverter"
                PythonConverterClass="DatabricksWorkspacePortConverter"
                >
          </KnimeToPythonPortObjectConverter>
      </Module>
   </extension>

</plugin>
