<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.knime.database.Driver">
      <Driver locator="org.knime.bigdata.database.databricks.driver.v26.DatabricksDBDriverLocator" />
      <Driver locator="org.knime.bigdata.database.databricks.driver.v273.DatabricksDBDriverLocator" />
      <Driver locator="org.knime.bigdata.database.databricks.driver.v275.DatabricksDBDriverLocator" />
   </extension>
</plugin>
