<project>
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.knime.bigdata</groupId>
  <artifactId>targetplatform</artifactId>
  <version>1.0</version>

  <dependencies>
    ###DEPS###
  </dependencies>
</project>
