<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--************************** DB Extensions **************************-->

   <extension point="org.knime.database.DBType">
      <DBType description="Hive" id="hive" name="Hive"
        urlTemplateValidator="org.knime.database.node.connector.server.ServerUrlTemplateValidator"
        defaultAttributeDefinitionSupplier="org.knime.database.DBType$NonTransactionalDefaultAttributeSupplier$Factory">
            <UrlTemplateExamples>
            <UrlTemplateExample template="jdbc:hive2://&lt;host&gt;:&lt;port&gt;/[database]"/>
        </UrlTemplateExamples>
      </DBType>
      <DBType description="Impala" id="impala" name="Impala"
        urlTemplateValidator="org.knime.database.node.connector.server.ServerUrlTemplateValidator"
        defaultAttributeDefinitionSupplier="org.knime.database.DBType$NonTransactionalDefaultAttributeSupplier$Factory">
            <UrlTemplateExamples>
            <UrlTemplateExample template="jdbc:impala://&lt;host&gt;:&lt;port&gt;/[database]"/>
        </UrlTemplateExamples>
      </DBType>
   </extension>
   <extension point="org.knime.database.SQLDialect">
      <SQLDialect
            dbTypes="hive"
            factory="org.knime.bigdata.database.hive.dialect.HiveSQLDialect$Factory"/>
      <SQLDialect
            dbTypes="impala"
            factory="org.knime.bigdata.database.impala.dialect.ImpalaSQLDialect$Factory"/>
   </extension>
  	<extension
         point="org.knime.workbench.repository.nodes">
      <node
            factory-class="org.knime.bigdata.database.hive.node.HiveConnectorNodeFactory"
            category-path="/db/connector"/>
      <node
            factory-class="org.knime.bigdata.database.impala.node.ImpalaConnectorNodeFactory"
            category-path="/db/connector"/>
    </extension>
   <extension
         point="org.knime.database.Driver">
      <Driver
            locator="org.knime.bigdata.database.hive.HiveDriverLocator">
      </Driver>
      <Driver
            locator="org.knime.bigdata.database.impala.ImpalaHiveDriverLocator">
      </Driver>
   </extension>
   <extension
         point="org.knime.database.Agent">
      <Agent
            dbTypes="hive"
            factory="org.knime.bigdata.database.hive.HiveAgentFactory"
            interface="org.knime.database.agent.sampling.DBSampling">
      </Agent>
            <Agent
            dbTypes="hive"
            factory="org.knime.bigdata.database.hive.HiveAgentFactory"
            interface="org.knime.database.agent.binning.DBBinner">
      </Agent>
      <Agent
            dbTypes="impala"
            factory="org.knime.bigdata.database.impala.ImpalaAgentFactory"
            interface="org.knime.database.agent.sampling.DBSampling">
      </Agent>
      <Agent
            dbTypes="impala"
            factory="org.knime.bigdata.database.impala.ImpalaAgentFactory"
            interface="org.knime.database.agent.binning.DBBinner">
      </Agent>
       <Agent
            dbTypes="hive"
            factory="org.knime.bigdata.database.hive.HiveAgentFactory"
            interface="org.knime.database.agent.loader.DBLoader">
        </Agent>
        <Agent
            dbTypes="impala"
            factory="org.knime.bigdata.database.impala.ImpalaAgentFactory"
            interface="org.knime.database.agent.loader.DBLoader">
        </Agent>
   </extension>
   <!-- ********************************** DB Aggregation Functions ********************************** -->
   
   <extension point="org.knime.database.AggregationFunction">
   
   <!-- ************************** Common ************************** -->
            
      <!-- AvgDistinctDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.AvgDistinctDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>

      <!-- CountDistinctDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.CountDistinctDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
   
      <!-- CorrDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.CorrDBAggregationFunction$Factory"
            dbTypes="hive"/>
   
      <!-- CovarSampDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.CovarSampDBAggregationFunction$Factory"
            dbTypes="hive"/>
            
      <!-- CovarPopDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.CovarPopDBAggregationFunction$Factory"
            dbTypes="hive"/>
            
      <!-- GroupConcatDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.GroupConcatDBAggregationFunction$Factory"
            dbTypes="impala"/>

      <!-- MaxDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.MaxDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>

      <!-- MinDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.MinDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
            
	  <!-- VarPopDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.VarPopDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
   
      <!--VarSampDBAggregationFunction  -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.VarSampDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
            
      <!-- SumDistinctDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.SumDistinctDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
            
      <!-- StdDevSampDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.StdDevSampDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
            
      <!-- StdDevPopDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.database.function.aggregation.impl.functions.StdDevPopDBAggregationFunction$Factory"
            dbTypes="hive,impala"/>
            
      <!-- ************************** Hive ************************** -->
      
      <!-- PercentileDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.bigdata.database.hive.functions.PercentileDBAggregationFunction$Factory"
            dbTypes="hive"/>
            
      <!-- PercentileApproxDBAggregationFunction -->     
      <AggregationFunction
            factory="org.knime.bigdata.database.hive.functions.PercentileApproxDBAggregationFunction$Factory"
            dbTypes="hive"/>
            
      <!-- CollectSetDBAggregationFunction -->       
      <AggregationFunction
            factory="org.knime.bigdata.database.hive.functions.CollectSetDBAggregationFunction$Factory"
            dbTypes="hive"/>
            
      <!-- CollectListDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.bigdata.database.hive.functions.CollectListDBAggregationFunction$Factory"
            dbTypes="hive"/>
      
      <!-- ************************** Impala ************************** -->

      <!-- NDVDBAggregationFunction -->
      <AggregationFunction
            factory="org.knime.bigdata.database.impala.functions.NDVDBAggregationFunction$Factory"
            dbTypes="impala"/>

    </extension>
    
     <extension
         point="org.knime.database.DBTypeMappingService">
      <DBTypeMappingService
            dbTypeId="hive"
            supplier="org.knime.bigdata.database.hive.HiveTypeMappingServiceSupplier">
      </DBTypeMappingService>
      <DBTypeMappingService
            dbTypeId="impala"
            supplier="org.knime.bigdata.database.impala.ImpalaTypeMappingServiceSupplier">
      </DBTypeMappingService>
   </extension>
   
   
     <!-- Loader node implementation -->
    <extension point="org.knime.database.nodes.LoaderNode">
   		<LoaderNode dbTypes="hive,impala" class="org.knime.bigdata.database.loader.BigDataLoaderNode"/>
   	</extension>
    <extension point="org.knime.database.nodes.LoaderNode2">
        <LoaderNode2 dbTypes="hive,impala" class="org.knime.bigdata.database.loader.BigDataLoaderNode2"/>
    </extension>

     <!-- Node migration rules -->
    <extension point="org.knime.workflow.migration.NodeMigrationRule">
       <Rule class="org.knime.bigdata.database.hive.node.HiveConnectorNodeMigrationRule"/>
       <Rule class="org.knime.bigdata.database.impala.node.ImpalaConnectorNodeMigrationRule"/>
    </extension>
   	
</plugin>
