<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
        <node
              category-path="/database/database-connector"
              expert-flag="false"
              factory-class="com.knime.bigdata.phoenix.node.connector.PhoenixConnectorNodeFactory">
        </node>
    </extension>
     <extension
           point="org.knime.core.DatabaseUtility">
        <databaseUtility
              class="com.knime.bigdata.phoenix.utility.PhoenixUtility"
              database="phoenix">
        </databaseUtility>
     </extension>
</plugin>
