<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.bigdata.commons.config.eclipse.CommonPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.bigdata.commons.config.eclipse.CommonPreferencePage"
            id="org.knime.bigdata.commons.config.eclipse.CommonPreferencePage"
            name="Big Data">
      </page>

      <page
            category="org.knime.bigdata.commons.config.eclipse.CommonPreferencePage"
            class="org.knime.bigdata.commons.config.eclipse.HadoopPreferencePage"
            id="org.knime.bigdata.commons.config.eclipse.HadoopPreferencePage"
            name="Hadoop">
      </page>

      <page
            category="org.knime.bigdata.commons.config.eclipse.CommonPreferencePage"
            class="org.knime.bigdata.commons.config.eclipse.KerberosPreferencePage"
            id="org.knime.bigdata.commons.config.eclipse.KerberosPreferencePage"
            name="Kerberos">
      </page>
   </extension>
   <extension
         point="org.knime.core.NodeFactoryClassMapper">
      <NodeFactoryClassMapper
            classMapper="org.knime.bigdata.commons.BigDataNodeFactoryClassMapper">
      </NodeFactoryClassMapper>
   </extension>
</plugin>
