<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="KNIMEToIntermediateConverter"
		name="KNIMEToIntermediateConverter"
		schema="schema/KNIMEToIntermediateConverter.exsd" />
	<extension-point id="JobRunFactoryProvider" name="JobRunFactoryProvider"
		schema="schema/JobRunFactoryProvider.exsd" />
	<extension-point id="SparkNodeFactoryProvider"
		name="SparkNodeFactoryProvider"
		schema="schema/SparkNodeFactoryProvider.exsd" />
	<extension-point id="SparkJarProvider" name="SparkJarProvider"
		schema="schema/SparkJarProvider.exsd" />
	<extension-point id="SparkSQLFunctionProvider"
		name="Spark SQL Function Provider"
		schema="schema/SparkSQLFunctionProvider.exsd" />
	<extension-point id="ModelHelperProvider" name="ModelHelperProvider"
		schema="schema/ModelHelperProvider.exsd" />
	<extension-point id="IntermediateToSparkConverterProvider"
		name="IntermediateToSparkConverterProvider"
		schema="schema/IntermediateToSparkConverterProvider.exsd" />
	<extension-point id="BundleGroupSparkJarProvider"
		name="BundleGroupSparkJarProvider"
		schema="schema/BundleGroupSparkJarProvider.exsd" />
	<extension-point id="SparkContextProvider" name="SparkContextProvider"
		schema="schema/SparkContextProvider.exsd" />
	<extension
		point="org.knime.core.PortType">
		<portType
			hidden="false"
			name="Spark Context"
			objectClass="org.knime.bigdata.spark.core.port.context.SparkContextPortObject"
			objectSerializer="org.knime.bigdata.spark.core.port.context.SparkContextPortObject$ModelSerializer"
			specClass="org.knime.bigdata.spark.core.port.context.SparkContextPortObjectSpec"
			specSerializer="org.knime.bigdata.spark.core.port.context.SparkContextPortObjectSpec$SpecSerializer">
		</portType>
		<portType
			color="#000000"
			hidden="false"
			name="Spark Data"
			objectClass="org.knime.bigdata.spark.core.port.data.SparkDataPortObject"
			objectSerializer="org.knime.bigdata.spark.core.port.data.SparkDataPortObject$Serializer"
			specClass="org.knime.bigdata.spark.core.port.data.SparkDataPortObjectSpec"
			specSerializer="org.knime.bigdata.spark.core.port.data.SparkDataPortObjectSpec$Serializer">
		</portType>
		<portType
			color="#7DBDFF"
			hidden="false"
			name="Spark MLlib Model"
			objectClass="org.knime.bigdata.spark.core.port.model.SparkModelPortObject"
			objectSerializer="org.knime.bigdata.spark.core.port.model.SparkModelPortObject$Serializer"
			specClass="org.knime.bigdata.spark.core.port.model.SparkModelPortObjectSpec"
			specSerializer="org.knime.bigdata.spark.core.port.model.SparkModelPortObjectSpec$Serializer">
		</portType>
		<portType
			color="#6666ff"
			hidden="false"
			name="Spark ML Model"
			objectClass="org.knime.bigdata.spark.core.port.model.ml.SparkMLModelPortObject"
			objectSerializer="org.knime.bigdata.spark.core.port.model.ml.SparkMLModelPortObject$Serializer"
			specClass="org.knime.bigdata.spark.core.port.model.ml.SparkMLModelPortObjectSpec"
			specSerializer="org.knime.bigdata.spark.core.port.model.ml.SparkMLModelPortObjectSpec$Serializer">
		</portType>
		<portType
			hidden="true"
			name="Spark Context (legacy com)"
			objectClass="com.knime.bigdata.spark.core.port.context.SparkContextPortObject"
			objectSerializer="com.knime.bigdata.spark.core.port.context.SparkContextPortObject$Serializer"
			specClass="com.knime.bigdata.spark.core.port.context.SparkContextPortObjectSpec"
			specSerializer="com.knime.bigdata.spark.core.port.context.SparkContextPortObjectSpec$Serializer">
		</portType>
		<portType
			color="#000000"
			hidden="true"
			name="Spark Data (legacy com)"
			objectClass="com.knime.bigdata.spark.core.port.data.SparkDataPortObject"
			objectSerializer="com.knime.bigdata.spark.core.port.data.SparkDataPortObject$Serializer"
			specClass="com.knime.bigdata.spark.core.port.data.SparkDataPortObjectSpec"
			specSerializer="com.knime.bigdata.spark.core.port.data.SparkDataPortObjectSpec$Serializer">
		</portType>
		<portType
			color="#7DBDFF"
			hidden="true"
			name="Spark Model (legacy com)"
			objectClass="com.knime.bigdata.spark.core.port.model.SparkModelPortObject"
			objectSerializer="com.knime.bigdata.spark.core.port.model.SparkModelPortObject$Serializer"
			specClass="com.knime.bigdata.spark.core.port.model.SparkModelPortObjectSpec"
			specSerializer="com.knime.bigdata.spark.core.port.model.SparkModelPortObjectSpec$Serializer">
		</portType>
		<portType
			color="#000000"
			hidden="true"
			name="Spark Data (legacy)"
			objectClass="com.knime.bigdata.spark.port.data.SparkDataPortObject"
			objectSerializer="com.knime.bigdata.spark.port.data.SparkDataPortObject$Serializer"
			specClass="com.knime.bigdata.spark.port.data.SparkDataPortObjectSpec"
			specSerializer="com.knime.bigdata.spark.port.data.SparkDataPortObjectSpec$Serializer">
		</portType>
		<portType
			color="#7DBDFF"
			hidden="true"
			name="Spark Model (legacy)"
			objectClass="com.knime.bigdata.spark.port.model.SparkModelPortObject"
			objectSerializer="com.knime.bigdata.spark.port.model.SparkModelPortObject$Serializer"
			specClass="com.knime.bigdata.spark.port.model.SparkModelPortObjectSpec"
			specSerializer="com.knime.bigdata.spark.port.model.SparkModelPortObjectSpec$Serializer">
		</portType>
		<portType
			hidden="true"
			name="Spark Context (legacy)"
			objectClass="com.knime.bigdata.spark.port.context.SparkContextPortObject"
			objectSerializer="com.knime.bigdata.spark.port.context.SparkContextPortObject$Serializer"
			specClass="com.knime.bigdata.spark.port.context.SparkContextPortObjectSpec"
			specSerializer="com.knime.bigdata.spark.port.context.SparkContextPortObjectSpec$Serializer">
		</portType>
	</extension>
	<extension
		point="org.knime.workbench.repository.nodesets">
		<nodeset
			default-category-icon="icons/category.png"
			deprecated="false"
			factory-class="org.knime.bigdata.spark.core.node.SparkNodeSetFactory">
		</nodeset>
	</extension>
	<extension
		point="org.knime.bigdata.spark.core.SparkJarProvider">
		<SparkJarProvider
			ProviderClass="org.knime.bigdata.spark.core.SparkCoreJarProvider">
		</SparkJarProvider>
	</extension>
</plugin>
