<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.knime.bigdata.spark.SparkTypeConverter" name="SparkTypeConverter" schema="schema/SparkTypeConverter.exsd"/>
   <extension-point id="com.knime.bigdata.spark.TemplateRepository" name="Spark Java Snippet Template Repository" schema="schema/TemplateRepository.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.knime.bigdata.spark.preferences.SparkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="com.knime.bigdata.spark.preferences.SparkPreferencePage"
            id="com.knime.bigdata.spark.preferences.SparkPreferencePage"
            name="Spark">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category.png"
            level-id="spark"
            locked="true"
            name="Spark"
            path="/labs">
      </category>
      <category
            icon="icons/category_io.png"
            level-id="io"
            locked="true"
            name="IO"
            path="/labs/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="convert"
            locked="true"
            name="Convert &amp; Replace"
            path="/labs/spark/column">
      </category>
      <category
            icon="icons/category_learner.gif"
            level-id="mining"
            locked="true"
            name="Mining"
            path="/labs/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="split"
            locked="true"
            name="Split &amp; Combine"
            path="/labs/spark/column">
      </category>
      <category
            icon="icons/category_misc.png"
            level-id="misc"
            locked="true"
            name="Misc"
            path="/labs/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="java"
            locked="true"
            name="Java Snippet"
            path="/labs/spark/misc">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="transform"
            locked="true"
            name="Transform"
            path="/labs/spark/row">
      </category>
      <category
            icon="icons/row.png"
            level-id="row"
            locked="true"
            name="Row"
            path="/labs/spark">
      </category>
      <category
            after="io"
            icon="icons/column.png"
            level-id="column"
            locked="true"
            name="Column"
            path="/labs/spark">
      </category>
      <category
            icon="icons/read.png"
            level-id="read"
            locked="true"
            name="Read"
            path="/labs/spark/io">
      </category>
      <category
            icon="icons/write.png"
            level-id="write"
            locked="true"
            name="Write"
            path="/labs/spark/io">
      </category>
      <category
            icon="icons/category_database.png"
            level-id="db"
            locked="true"
            name="Database"
            path="/labs/spark/io">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.clustering.kmeans.MLlibKMeansNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.clustering.kmeans.MLlibKMeansNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.clustering.assigner.MLlibClusterAssignerNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.clustering.assigner.MLlibClusterAssignerNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.decisiontree.MLlibDecisionTreeNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.decisiontree.MLlibDecisionTreeNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.pmml.converter.MLlib2PMMLNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.pmml.converter.MLlib2PMMLNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.pmml.predictor.SparkPMMLPredictorNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.pmml.predictor.MLlibPMMLPredictorNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io/db"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.hive.reader.Hive2SparkNodeFactory"
            id="com.knime.bigdata.spark.node.io.hive.reader.Hive2SparkNodeFactory">
      </node>
      <node
            category-path="/labs/spark/misc/java"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.scripting.java.snippet.SparkJavaSnippetNodeFactory"
            id="com.knime.bigdata.spark.node.scripting.java.snippet.SparkJavaSnippetNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io/db"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.hive.writer.Spark2HiveNodeFactory"
            id="com.knime.bigdata.spark.node.io.hive.writer.Spark2HiveNodeFactory">
      </node>
      <node
            category-path="/labs/spark/misc/java"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.scripting.java.sink.SparkJavaSnippetSinkNodeFactory"
            id="com.knime.bigdata.spark.node.scripting.java.sink.SparkJavaSnippetSinkNodeFactory">
      </node>
      <node
            category-path="/labs/spark/misc/java"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.scripting.java.source.SparkJavaSnippetSourceNodeFactory"
            id="com.knime.bigdata.spark.node.scripting.java.source.SparkJavaSnippetSourceNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.rename.SparkRenameColumnNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.rename.SparkRenameColumnNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.renameregex.SparkColumnRenameRegexNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.renameregex.SparkColumnRenameRegexNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.convert.category2number.SparkCategory2NumberNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.convert.category2number.SparkCategory2NumberNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.normalize.SparkNormalizerPMMLNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.normalize.SparkNormalizerPMMLNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.predictor.MLlibPredictorNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.predictor.MLlibPredictorNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/split"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.joiner.SparkJoinerNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.joiner.SparkJoinerNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io/read"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.table.reader.Spark2TableNodeFactory"
            id="com.knime.bigdata.spark.node.io.table.reader.Spark2TableNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io/write"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.table.writer.Table2SparkNodeFactory"
            id="com.knime.bigdata.spark.node.io.table.writer.Table2SparkNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.linear.regression.MLlibLinearRegressionNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.linear.regression.MLlibLinearRegressionNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.linear.svm.MLlibSVMNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.linear.svm.MLlibSVMNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.transformation.compiling.SparkTransformationPMMLApplyNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.transformation.compiling.SparkTransformationPMMLApplyNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.transformation.compiled.SparkCompiledTransformationPMMLApplyNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.transformation.compiled.SparkCompiledTransformationPMMLApplyNodeFactory">
      </node>
      <node
            category-path="/labs/spark/row/transform"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.sampling.SparkSamplingNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.sampling.SparkSamplingNodeFactory">
      </node>
      <node
            category-path="/labs/spark/row/transform"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.partition.SparkPartitionNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.partition.SparkPartitionNodeFactory">
      </node>
      <node
            category-path="/labs/spark/column/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.convert.number2category.SparkNumber2CategoryNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.convert.number2category.SparkNumber2CategoryNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.bayes.naive.MLlibNaiveBayesNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.bayes.naive.MLlibNaiveBayesNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.util.cache.SparkPersistNodeFactory"
            id="com.knime.bigdata.spark.node.util.cache.SparkPersistNodeFactory">
      </node>
    </extension>
   <extension
         point="com.knime.bigdata.spark.TemplateRepository">
      <template-repository
            id="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetFileTemplateRepositoryProvider"
            provider-class="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetFileTemplateRepositoryProvider">
      </template-repository>
      <template-repository
            id="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetPluginTemplateRepositoryProvider"
            provider-class="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetPluginTemplateRepositoryProvider">
      </template-repository>
   </extension>
</plugin>
