<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.knime.bigdata.Spark.SparkTypeConverter" name="SparkTypeConverter" schema="schema/SparkTypeConverter.exsd"/>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="resources/category.png"
            level-id="spark"
            locked="true"
            name="Spark"
            path="/labs">
      </category>
      <category
            icon="resources/category_io.png"
            level-id="io"
            locked="true"
            name="IO"
            path="/labs/spark">
      </category>
      <category
            icon="resources/category_learner.gif"
            level-id="mining"
            locked="true"
            name="Mining"
            path="/labs/spark">
      </category>
      <category
            after="/labs/spark/io"
            icon="resources/missing.gif"
            level-id="convert"
            locked="true"
            name="Convert &amp; Replace"
            path="/labs/spark">
      </category>
      <category
            icon="resources/missing.gif"
            level-id="split"
            locked="true"
            name="Split &amp; Combine"
            path="/labs/spark">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.clustering.kmeans.MLlibKMeansNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.clustering.kmeans.MLlibKMeansNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.clustering.assigner.MLlibClusterAssignerNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.clustering.assigner.MLlibClusterAssignerNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.decisiontree.MLlibDecisionTreeNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.decisiontree.MLlibDecisionTreeNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.pmml.converter.MLlib2PMMLNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.pmml.converter.MLlib2PMMLNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.pmml.predictor.SparkPMMLPredictorNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.pmml.predictor.MLlibPMMLPredictorNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.hive.reader.Hive2SparkNodeFactory"
            id="com.knime.bigdata.spark.node.io.hive.reader.Hive2SparkNodeFactory">
      </node>
      <node
            category-path="/labs/spark"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.scripting.java.snippet.SparkJavaSnippetNodeFactory"
            id="com.knime.bigdata.spark.node.scripting.java.SparkJavaSnippetNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.hive.writer.Spark2HiveNodeFactory"
            id="com.knime.bigdata.spark.node.io.hive.writer.Spark2HiveNodeFactory">
      </node>
      <node
            category-path="/labs/spark"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.scripting.java.sink.SparkJavaSnippetSinkNodeFactory"
            id="com.knime.bigdata.spark.node.scripting.java.sink.SparkJavaSnippetSinkNodeFactory">
      </node>
      <node
            category-path="/labs/spark"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.scripting.java.source.SparkJavaSnippetSourceNodeFactory"
            id="com.knime.bigdata.spark.node.scripting.java.source.SparkJavaSnippetSourceNodeFactory">
      </node>
      <node
            category-path="/labs/spark/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.rename.SparkRenameColumnNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.rename.SparkRenameColumnNodeFactory">
      </node>
      <node
            category-path="/labs/spark/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.renameregex.SparkColumnRenameRegexNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.renameregex.SparkColumnRenameRegexNodeFactory">
      </node>
      <node
            category-path="/labs/spark/convert"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.convert.stringmapper.SparkStringMapperNodeFactory"
            id="com.knime.bigdata.spark.node.convert.stringmapper.SparkStringMapperNodeFactory">
      </node>
      <node
            category-path="/labs/spark/mining"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.predictor.MLlibPredictorNodeFactory"
            id="com.knime.bigdata.spark.node.mllib.prediction.predictor.MLlibPredictorNodeFactory">
      </node>
      <node
            category-path="/labs/spark/split"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.preproc.joiner.SparkJoinerNodeFactory"
            id="com.knime.bigdata.spark.node.preproc.joiner.SparkJoinerNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.table.writer.Spark2TableNodeFactory"
            id="com.knime.bigdata.spark.node.io.table.writer.Spark2TableNodeFactory">
      </node>
      <node
            category-path="/labs/spark/io"
            expert-flag="false"
            factory-class="com.knime.bigdata.spark.node.io.table.reader.Table2SparkNodeFactory"
            id="com.knime.bigdata.spark.node.io.table.reader.Table2SparkNodeFactory">
      </node>
    </extension>
</plugin>
