<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SparkTypeConverter" name="SparkTypeConverter" schema="schema/SparkTypeConverter.exsd"/>
   <extension-point id="TemplateRepository" name="Spark Java Snippet Template Repository" schema="schema/TemplateRepository.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.knime.bigdata.spark.preferences.SparkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="com.knime.bigdata.spark.preferences.SparkPreferencePage"
            id="com.knime.bigdata.spark.preferences.SparkPreferencePage"
            name="Spark">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category.png"
            level-id="spark"
            locked="true"
            name="Spark"
            path="/toolintegration">
      </category>
      <category
            icon="icons/category_reader.png"
            level-id="io"
            locked="true"
            name="IO"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="convert"
            locked="true"
            name="Convert &amp; Replace"
            path="/toolintegration/spark/column">
      </category>
      <category
            icon="icons/category_mining.png"
            level-id="mining"
            locked="true"
            name="Mining"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="split"
            locked="true"
            name="Split &amp; Combine"
            path="/toolintegration/spark/column">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="scoring"
            locked="true"
            name="Scoring"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/category_misc.png"
            level-id="misc"
            locked="true"
            name="Misc"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="java"
            locked="true"
            name="Java Snippet"
            path="/toolintegration/spark/misc">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="transform"
            locked="true"
            name="Transform"
            path="/toolintegration/spark/row">
      </category>
      <category
            icon="icons/row.png"
            level-id="row"
            locked="true"
            name="Row"
            path="/toolintegration/spark">
      </category>
      <category
            after="io"
            icon="icons/column.png"
            level-id="column"
            locked="true"
            name="Column"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/read.png"
            level-id="read"
            locked="true"
            name="Read"
            path="/toolintegration/spark/io">
      </category>
      <category
            icon="icons/write.png"
            level-id="write"
            locked="true"
            name="Write"
            path="/toolintegration/spark/io">
      </category>
      <category
            icon="icons/category_database.png"
            level-id="db"
            locked="true"
            name="Database"
            path="/toolintegration/spark/io">
      </category>
      <category
            icon="icons/category_statistics.png"
            level-id="statistics"
            locked="true"
            name="Statistics"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="clustering"
            locked="true"
            name="Clustering"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="prediction"
            locked="true"
            name="Prediction"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="pmml"
            locked="true"
            name="PMML"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="reduction"
            locked="true"
            name="Dimensionality Reduction"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="management"
            locked="true"
            name="Management"
            path="/toolintegration/spark/misc">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/toolintegration/spark/mining/clustering"
            factory-class="com.knime.bigdata.spark.node.mllib.clustering.kmeans.MLlibKMeansNodeFactory">
      </node>
      <node
            category-path="/toolintegration/spark/mining/clustering"
            factory-class="com.knime.bigdata.spark.node.mllib.clustering.assigner.MLlibClusterAssignerNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.decisiontree.MLlibDecisionTreeNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/pmml"
            factory-class="com.knime.bigdata.spark.node.pmml.converter.MLlib2PMMLNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/pmml"
            factory-class="com.knime.bigdata.spark.node.pmml.predictor.compiled.SparkPMMLPredictorNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/io/db"
            factory-class="com.knime.bigdata.spark.node.io.hive.reader.Hive2SparkNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/misc/java"
            factory-class="com.knime.bigdata.spark.node.scripting.java.snippet.SparkJavaSnippetNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/io/db"
            factory-class="com.knime.bigdata.spark.node.io.hive.writer.Spark2HiveNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/misc/java"
            factory-class="com.knime.bigdata.spark.node.scripting.java.sink.SparkJavaSnippetSinkNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/misc/java"
            factory-class="com.knime.bigdata.spark.node.scripting.java.source.SparkJavaSnippetSourceNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.preproc.rename.SparkRenameColumnNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.preproc.renameregex.SparkColumnRenameRegexNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.preproc.convert.category2number.SparkCategory2NumberNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.preproc.normalize.SparkNormalizerPMMLNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.predictor.MLlibPredictorNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/split"
            factory-class="com.knime.bigdata.spark.node.preproc.joiner.SparkJoinerNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/io/read"
            factory-class="com.knime.bigdata.spark.node.io.table.writer.Spark2TableNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/io/write"
            factory-class="com.knime.bigdata.spark.node.io.table.reader.Table2SparkNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.linear.regression.MLlibLinearRegressionNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.linear.svm.MLlibSVMNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.pmml.transformation.compiling.SparkTransformationPMMLApplyNodeFactory"
            >
      </node>
<!--      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.pmml.transformation.compiled.SparkCompiledTransformationPMMLApplyNodeFactory">
      </node>
      -->
      <node
            category-path="/toolintegration/spark/row"
            factory-class="com.knime.bigdata.spark.node.preproc.sampling.SparkSamplingNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/row"
            factory-class="com.knime.bigdata.spark.node.preproc.partition.SparkPartitionNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column/convert"
            factory-class="com.knime.bigdata.spark.node.preproc.convert.number2category.SparkNumber2CategoryNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.bayes.naive.MLlibNaiveBayesNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/io"
            factory-class="com.knime.bigdata.spark.node.util.rdd.persist.SparkPersistNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/io"
            factory-class="com.knime.bigdata.spark.node.util.rdd.unpersist.SparkUnpersistNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/column"
            factory-class="com.knime.bigdata.spark.node.preproc.filter.column.SparkColumnFilterNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/row"
            factory-class="com.knime.bigdata.spark.node.preproc.concatenate.SparkConcatenateNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/reduction"
            factory-class="com.knime.bigdata.spark.node.mllib.reduction.pca.MLlibPCANodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/reduction"
            factory-class="com.knime.bigdata.spark.node.mllib.reduction.svd.MLlibSVDNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining"
            factory-class="com.knime.bigdata.spark.node.mllib.collaborativefiltering.MLlibCollaborativeFilteringNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/scoring"
            factory-class="com.knime.bigdata.spark.node.scorer.accuracy.SparkAccuracyScorerNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/scoring"
            factory-class="com.knime.bigdata.spark.node.scorer.entropy.SparkEntropyScorerNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/scoring"
            factory-class="com.knime.bigdata.spark.node.scorer.numeric.SparkNumericScorerNodeFactory"
            >
      </node>      
      <node
            category-path="/toolintegration/spark/row"
            factory-class="com.knime.bigdata.spark.node.preproc.sorter.SparkSorterNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/statistics"
            factory-class="com.knime.bigdata.spark.node.statistics.correlation.matrix.MLlibCorrelationMatrixNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/statistics"
            factory-class="com.knime.bigdata.spark.node.statistics.correlation.column.MLlibCorrelationColumnNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/statistics"
            factory-class="com.knime.bigdata.spark.node.statistics.compute.MLlibStatisticsNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/statistics"
            factory-class="com.knime.bigdata.spark.node.statistics.correlation.filter.MLlibCorrelationFilterNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.ensemble.randomforest.MLlibRandomForestNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.ensemble.gradientboostedtrees.MLlibGradientBoostedTreeNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/misc/management"
            factory-class="com.knime.bigdata.spark.node.util.context.destroy.SparkDestroyContextNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/misc/management"
            factory-class="com.knime.bigdata.spark.node.util.rdd.list.SparkListRDDNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/prediction"
            factory-class="com.knime.bigdata.spark.node.mllib.prediction.linear.logisticregression.MLlibLogisticRegressionNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/misc/management"
            factory-class="com.knime.bigdata.spark.node.util.context.create.SparkContextCreatorNodeFactory"
            >
      </node>
      <node
            category-path="/toolintegration/spark/mining/pmml"
            factory-class="com.knime.bigdata.spark.node.pmml.predictor.compiling.SparkPMMLCompilingPredictorNodeFactory"
            >
      </node>
    </extension>
   <extension
         point="com.knime.bigdata.spark.TemplateRepository">
      <template-repository
            id="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetFileTemplateRepositoryProvider"
            provider-class="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetFileTemplateRepositoryProvider">
      </template-repository>
      <template-repository
            id="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetPluginTemplateRepositoryProvider"
            provider-class="com.knime.bigdata.spark.node.scripting.java.util.SparkJavaSnippetPluginTemplateRepositoryProvider">
      </template-repository>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Spark Context"
            objectClass="com.knime.bigdata.spark.port.context.SparkContextPortObject"
            objectSerializer="com.knime.bigdata.spark.port.context.SparkContextPortObject$ModelSerializer"
            specClass="com.knime.bigdata.spark.port.context.SparkContextPortObjectSpec"
            specSerializer="com.knime.bigdata.spark.port.context.SparkContextPortObjectSpec$SpecSerializer">
      </portType>
      <portType
            color="#000000"
            hidden="false"
            name="Spark Data"
            objectClass="com.knime.bigdata.spark.port.data.SparkDataPortObject"
            objectSerializer="com.knime.bigdata.spark.port.data.SparkDataPortObject$Serializer"
            specClass="com.knime.bigdata.spark.port.data.SparkDataPortObjectSpec"
            specSerializer="com.knime.bigdata.spark.port.data.SparkDataPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#7DBDFF"
            hidden="false"
            name="Spark Model"
            objectClass="com.knime.bigdata.spark.port.model.SparkModelPortObject"
            objectSerializer="com.knime.bigdata.spark.port.model.SparkModelPortObject$Serializer"
            specClass="com.knime.bigdata.spark.port.model.SparkModelPortObjectSpec"
            specSerializer="com.knime.bigdata.spark.port.model.SparkModelPortObjectSpec$Serializer">
      </portType>
   </extension>
</plugin>
