<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
   
   <extension point="org.knime.workbench.repository.nodes">
   <node category-path="/io/read" factory-class="org.knime.bigdata.fileformats.orc.reader.OrcReaderNodeFactory"/>
   <node category-path="/io/write" factory-class="org.knime.bigdata.fileformats.orc.writer.OrcWriterNodeFactory"/>
   <node category-path="/io/read" factory-class="org.knime.bigdata.fileformats.parquet.reader.ParquetReaderNodeFactory"/>
   <node category-path="/io/write" factory-class="org.knime.bigdata.fileformats.parquet.writer.ParquetWriterNodeFactory"/>
   <node
         category-path="/labs/file-handling-prototype/file-handling-IO/file-handling-Read"
         deprecated="false"
         factory-class="org.knime.bigdata.fileformats.filehandling.reader.parquet.ParquetTableReaderNodeFactory"
         hidden="false">
   </node>
   <node
         category-path="/labs/file-handling-prototype/file-handling-IO/file-handling-Read"
         deprecated="false"
         factory-class="org.knime.bigdata.fileformats.filehandling.reader.orc.OrcTableReaderNodeFactory"
         hidden="false">
   </node>
</extension>
   
</plugin>
