<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="JavaSnippetTemplateRepository" name="Java Snippet Template Repository" schema="schema/JavaSnippetTemplateRepository.exsd"/>
   <extension-point id="JavaSnippetHelper" name="JavaSnippetHelper" schema="schema/JavaSnippetHelper.exsd"/>
   <extension-point id="JavaDataFrameSnippetHelper" name="Java Data Frame Snippet Helper" schema="schema/JavaDataFrameSnippetHelper.exsd"/>
   <extension-point id="SparkSQLFunctionDialogProvider" name="Spark SQL Function Dialog Provider" schema="schema/SparkSQLFunctionDialogProvider.exsd"/>
   <extension-point id="PMMLPortObjectFactoryProvider" name="PMMLPortObjectFactoryProvider" schema="schema/PMMLPortObjectFactoryProvider.exsd"/>
   <extension-point id="SparkMissingValueHandler" name="SparkMissingValueHandler" schema="schema/SparkMissingValueHandler.exsd"/>
   <extension-point id="PySparkHelper" name="PySpark Helper" schema="schema/PySparkHelper.exsd"/>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category.png"
            level-id="spark"
            locked="true"
            name="Apache Spark"
            path="/toolintegration">
      </category>
      <category
            icon="icons/category_reader.png"
            level-id="io"
            locked="true"
            name="IO"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="convert"
            locked="true"
            name="Convert &amp; Replace"
            path="/toolintegration/spark/column">
      </category>
      <category
            icon="icons/category_mining.png"
            level-id="mining"
            locked="true"
            name="Mining"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="split"
            locked="true"
            name="Split &amp; Combine"
            path="/toolintegration/spark/column">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="transform"
            locked="true"
            name="Transform"
            path="/toolintegration/spark/column">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="scoring"
            locked="true"
            name="Scoring"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/category_misc.png"
            level-id="misc"
            locked="true"
            name="Misc"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="java"
            locked="true"
            name="Java Snippet"
            path="/toolintegration/spark/misc">
      </category>
      <category
            icon="icons/python.png"
            level-id="python"
            locked="true"
            name="PySpark"
            path="/toolintegration/spark/misc">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="transform"
            locked="true"
            name="Transform"
            path="/toolintegration/spark/row">
      </category>
      <category
            icon="icons/row.png"
            level-id="row"
            locked="true"
            name="Row"
            path="/toolintegration/spark">
      </category>
      <category
            after="io"
            icon="icons/column.png"
            level-id="column"
            locked="true"
            name="Column"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/read.png"
            level-id="read"
            locked="true"
            name="Read"
            path="/toolintegration/spark/io">
      </category>
      <category
            icon="icons/write.png"
            level-id="write"
            locked="true"
            name="Write"
            path="/toolintegration/spark/io">
      </category>
      <category
            icon="icons/category_database.png"
            level-id="db"
            locked="true"
            name="Database"
            path="/toolintegration/spark/io">
      </category>
      <category
            icon="icons/category_statistics.png"
            level-id="statistics"
            locked="true"
            name="Statistics"
            path="/toolintegration/spark">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="freq-item-sets-association-rules"
            locked="true"
            name="Item Sets / Association Rules"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="clustering"
            locked="true"
            name="Clustering"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="prediction"
            locked="true"
            name="Prediction"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="pmml"
            locked="true"
            name="PMML"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="reduction"
            locked="true"
            name="Dimensionality Reduction"
            path="/toolintegration/spark/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="management"
            locked="true"
            name="Management"
            path="/toolintegration/spark/misc">
      </category>
   </extension>
   <extension
         point="org.knime.bigdata.spark.core.SparkNodeFactoryProvider">
      <SparkNodeFactoryProvider
            ProviderClass="org.knime.bigdata.spark.node.StandardSparkNodeFactoryProvider">
      </SparkNodeFactoryProvider>
   </extension>
   <extension
         point="org.knime.bigdata.spark.core.SparkJarProvider">
      <SparkJarProvider
            ProviderClass="org.knime.bigdata.spark.node.SparkNodeJarProvider">
      </SparkJarProvider>
   </extension>
   <extension
         point="org.knime.bigdata.spark.node.SparkMissingValueHandler">
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.DoubleMeanMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedBooleanTrueMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedBooleanFalseMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedDoubleMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedIntegerMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedLocalDateMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedLocalDateTimeMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedLongMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.FixedStringMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.MaxMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.MedianApproxMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.MedianExactMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.MinMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.MostFrequentMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.OldMeanMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.RemoveRowMissingValueHandlerFactory">
     </SparkMissingValueHandler>
     <SparkMissingValueHandler
         FactoryClass="org.knime.bigdata.spark.node.preproc.missingval.handler.RoundedMeanMissingValueHandlerFactory">
     </SparkMissingValueHandler>
   </extension>
   <extension
         point="org.knime.bigdata.spark.node.SparkSQLFunctionDialogProvider">
      <SparkSQLFunctionDialogProvider
            ProviderClass="org.knime.bigdata.spark.node.sql_function.StandardSparkSQLFunctionDialogProvider">
      </SparkSQLFunctionDialogProvider>
   </extension>
</plugin>
