<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.bigdata.spark.core.SparkJarProvider">
      <SparkJarProvider
            ProviderClass="org.knime.bigdata.spark1_2.base.Spark_1_2_JarProvider">
      </SparkJarProvider>
   </extension>
   <extension point="org.knime.bigdata.spark.core.JobRunFactoryProvider">
      <JobRunFactoryProvider
            ProviderClass="org.knime.bigdata.spark1_2.base.Spark_1_2_JobRunFactoryProvider">
      </JobRunFactoryProvider>
   </extension>
   <extension
         point="org.knime.bigdata.spark.core.ModelHelperProvider">
      <ModelHelperProvider
            ProviderClass="org.knime.bigdata.spark1_2.base.Spark_1_2_ModelHelperProvider">
      </ModelHelperProvider>
   </extension>
   <extension
         point="org.knime.bigdata.spark.core.IntermediateToSparkConverterProvider">
      <IntermediateToSparkConverterProvider 
      		ProviderClass="org.knime.bigdata.spark1_2.converter.type.DefaultSpark_1_2_IntermediateToSparkConverterProvider">
      </IntermediateToSparkConverterProvider>
   </extension>
   <extension
         point="org.knime.bigdata.spark.node.JavaSnippetHelper">
      <JavaSnippetHelper
            HelperClass="org.knime.bigdata.spark1_2.base.Spark_1_2_JavaSnippetHelper">
      </JavaSnippetHelper>
   </extension>
   <extension
         point="org.knime.bigdata.spark.node.JavaSnippetTemplateRepository">
      <JavaSnippetTemplateRepositoryProvider
            ProviderClass="org.knime.bigdata.spark1_2.base.Spark_1_2_JavaSnippetTemplateRepositoryProvider">
      </JavaSnippetTemplateRepositoryProvider>
   </extension>
   <extension point="org.knime.bigdata.spark.node.PMMLPortObjectFactoryProvider">
      <PMMLPortObjectFactoryProvider
            ProviderClass="org.knime.bigdata.spark1_2.base.Spark_1_2_PMMLPortObjectFactoryProvider">
      </PMMLPortObjectFactoryProvider>
   </extension>
</plugin>
