<strong>Livy Spark Context settings</strong>
<hr/>
<strong>Spark version:</strong>&nbsp;&nbsp;<tt>${spark_version}</tt>
<br/>
<strong>Livy URL:</strong>&nbsp;&nbsp;<tt>${url}</tt>
<br/>
<strong>Authentication:</strong>&nbsp;&nbsp;<tt>${authentication}</tt>
<br/>
<strong>Context state: </strong>&nbsp;&nbsp;<tt>${context_state}</tt>
<br/>
