<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
        <node deprecated="true" factory-class="org.knime.bigdata.phoenix.node.connector.PhoenixConnectorNodeFactory"/>
    </extension>
     <extension
           point="org.knime.core.DatabaseUtility">
        <databaseUtility
              class="org.knime.bigdata.phoenix.utility.PhoenixUtility"
              database="phoenix">
        </databaseUtility>
     </extension>
</plugin>
