<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.database.node.workflow.migration.NodeMigrationRule">
      <Rule class="org.knime.bigdata.spark.migration.DB2SparkNodeMigrationRule"/>
      <Rule class="org.knime.bigdata.spark.migration.Spark2DBNodeMigrationRule"/>
      <Rule class="org.knime.bigdata.spark.migration.DBHive2SparkNodeMigrationRule"/>
      <Rule class="org.knime.bigdata.spark.migration.DBSpark2HiveNodeMigrationRule"/>
      <Rule class="org.knime.bigdata.spark.migration.DBImpala2SparkNodeMigrationRule"/>
      <Rule class="org.knime.bigdata.spark.migration.DBSpark2ImpalaNodeMigrationRule"/>
   </extension>
</plugin>
