<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.knime.bigdata.spark.core.SparkContextProvider">
  <SparkContextProvider
        ProviderClass="org.knime.bigdata.spark.core.livy.LivySparkContextProvider">
  </SparkContextProvider>
</extension>

<extension point="org.knime.bigdata.spark.core.SparkJarProvider">
	<SparkJarProvider ProviderClass="org.knime.bigdata.spark.core.livy.LivyJarProvider">
	</SparkJarProvider>
</extension>

<extension point="org.knime.bigdata.spark.core.SparkNodeFactoryProvider">
  <SparkNodeFactoryProvider
        ProviderClass="org.knime.bigdata.spark.core.livy.LivyNodeFactoryProvider">
  </SparkNodeFactoryProvider>
</extension>


</plugin>
