<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="com.knime.bigdata.commons.config.eclipse.CommonPreferencePage"
            id="com.knime.bigdata.commons.config.eclipse.CommonPreferencePage"
            name="KNIME Big Data Extensions">
      </page>
   </extension>
</plugin>
