<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
      <node deprecated="true" factory-class="org.knime.bigdata.impala.node.connector.ImpalaConnectorNodeFactory"/>
      <node deprecated="true" factory-class="org.knime.bigdata.impala.node.loader.ImpalaLoaderNodeFactory">
      </node>
    </extension>
     <extension
           point="org.knime.core.DatabaseUtility">
        <databaseUtility
              class="org.knime.bigdata.impala.utility.ImpalaUtility"
              database="impala">
        </databaseUtility>
     </extension>
</plugin>
