<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
      <node
            factory-class="com.knime.bigdata.impala.node.connector.ImpalaConnectorNodeFactory"
            category-path="/database/database-connector"/>
      <node
            category-path="/database/database-io"
            factory-class="com.knime.bigdata.impala.node.loader.ImpalaLoaderNodeFactory">
      </node>
    </extension>
     <extension
           point="org.knime.core.DatabaseUtility">
        <databaseUtility
              class="com.knime.bigdata.impala.utility.ImpalaUtility"
              database="impala">
        </databaseUtility>
     </extension>
</plugin>
